<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h1>Bienvenidos</h1>
    </div>
  </div>
</div> -->
<div class="py-5 team1">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center">
        <h3 class="mb-3">Integrantes del Equipo</h3>
        <!-- <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6> -->
      </div>
    </div>
    <div class="row">
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters">
            <div class="col-md-5 pro-pic" style="background:url(../../../assets/jc.jpg) center center no-repeat / cover">
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">Juan Camilo Bonet</h6>
                <p>Me gusta el anime - 202022466</p>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters card-shadow">
            <div class="col-md-5 pro-pic" style="background:url(../../../assets/jesus.jpg) center center no-repeat / cover">
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">Jesús Jiménez</h6>
                <p>Amo programar - 202020431</p>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
    </div>
    <div class="row">
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters card-shadow">
            <div class="col-md-5 pro-pic" style="background:url(../../../assets/thais.jpg) center center no-repeat / cover">
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">Thais Tamaio</h6>
                <p>Odio programar - 202022213</p>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
    </div>
  </div>
</div>
